body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: blue; */
    background-color:seashell;
}
/* 头部header的img
header{
    height: 100px;
} 
.img{
    position: fixed;
    margin-top: 100px; 
} */
.body .img{
    position: absolute;
    margin: 10px;
}
.img {
    position: absolute;
    /* margin-left: 12%; */
    margin-right: 12%;
    /* width: 74%; */
    width: 100%;
    /* height: 45%; */
}
.top {
    position: relative;
    /* align-items: center; */
    padding-top: 100px;
    background-image: url("../img/head.png" );
    background-size:100% 100%;
    width: 100%;
    /* height: 392px; */
}
.topText {
    /* display: table-cell; */
   
    vertical-align: middle;
    text-align: center;
    color: white;
    /*设置文本水平居中*/
    width: 100%;
}
.navgroup{
    position: relative;
    margin-top:1%; 
    width: 100%;
    height: 20%;
}
nav ul{
    position: absolute;
    margin-left:30%;
}
nav ul li{
    display: inline-block;
}
.button{
    border: 1px solid gainsboro ;
    /* border: solid lightgray ; */
    text-decoration: none;
    border-radius:40px;
    padding: 1em 2.5em;
}
.button:hover{
    background-color:black;
    color: white;
    border: 1px solid black;
    text-decoration: none;
    border-radius:40px;
    padding: 1em 2.5em;
}
@media screen and (max-width: 1300px) {
    body {
        /* background-color:lightblue; */
    }
    .top {
        position: relative;
        /* align-items: center; */
        width: 100%;
        height: 280px;
    }
    .navgroup{
        position: relative;
        /* margin-top:1%;  */
        width: 100%;
        height: 100px;
        /* background-color: yellow; */
        /* border: 1px solid yellow; */
    }
    nav ul{
        position: absolute;
        margin-left:18%;
        /* background-color: brown; */
    }
    nav ul li{
        display: inline-block;
        padding: 5px;
        margin-left: 20px;
    }
    
}