body.home nav li a.home .button {
    background-color: black;
    color: white;
    border: solid black;
    text-decoration: none;
    border-radius: 45%;
    padding: 1em 2.5em;
}

article {
    width: 100%;
    height: 280px;
    /* border: 1px black solid; */
}

.description {
    width: 100%;
    height: auto;
    /* border: 2px solid seagreen; */
}

.description .aside {
    /* height: 50%; */
    width: 30%;
    top:0px; 
   
    display: inline-block;
    text-align: center;
    vertical-align:middle;
    position: relative;
}

.description .aside h4 {
    position: absolute;
    margin-top: -120%;
    color: gray;
    font-size:1.3em; 
    left: 20%;
}
.description .aside p {
    position: absolute;
    margin-top: -73%;
    color: gray;
    left: 47%;
}

.description .content {
    height: 100%;
    width: 50%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.description .content :nth-child(2) {
    color: gray;
    font-size: 0.7em;
}

.description .content :nth-child(3) {
    font-size: 0.7em;
}

.content1 img,
.content2 img {
    width: 90%;
    height: 80%;
}
.aside img{
    width: auto;
    height: auto;
}
.content1 {
    width: 35%;
    height: 100%;
    margin-left: 14%;
    padding: 2px;
  
    /* border: 1px brown solid; */
    display: inline-block;
}

.content2 {
    width: 35%;
    height: 100%;
    padding: 3px;
    /* border: 1px darkgoldenrod solid; */
    /* margin-left: 20%; */
    display: inline-block;
}